body {
  background-color: lightblue;
}

#about {
  background-color: lightgreen;
  font-family: Verdana, Geneva, Arial, sans-serif;
  padding:10px;
  margin:10px;
}

main {
  width: 100%;
}

/*pseudo css commands*/
#about a:hover {
  background-color: yellow;
  text-decoloration: none;
  font-size: 140%;
  width: 140%;
  transition-timing-function: ease-in;
  transition-delay: 1s;
  opacity: .8;
  box-shadow: 4px 6px 3px gray;
  text-shadow: 0 1px 0 white, 0 -1px 0 white, 1px 0 0 white, -1px 0 0 white;
}

#about a:visited {
  color: gray;
  background-color: yellow;
  width: 140%
}

#about #header-style {
  text-shadow: 0 2px 0 black, 0 -2px 0 black, 2px 0 0 black, -2px 0 0 black;
  color: white;
}

#about #menu-start {
  display: inline-block;
  position: relative;
  z-index: 10;
  width: 140px;
  height: 400 px;
  margin: 0 auto;
  font-weight: normal;
  color: blue;
  font-size: large;
  text-decoloration: none;
}

#about .key-style {
  box-shadow: 6px 8px 5px gray;
  background-color: lightpink;
}

#about #text-intro {
  position: relative;
  display: block;
  text-wrap: normal;
  width: 480px
  height: 1000px;
  border-width: 5px;
  border-style: ridge;
  border-color: green;
  text-align: left;
  border-radius: 36px 8px 36px 8px;
  border-bottom: 3px solid blue;
  border-left: 1px solid black; 
  border-right: 1px solid black;
  border-bottom-width: 3px;
  margin: 0 auto;
  background-color: lightblue;
}

#about mark {
  background-color: aqua;
}

#about #atTheEnd {
  position: absolute;
  display: in-line;
  width: 30%;
  height: 20%;
  left: 20px;
  font-size: small;
}

/*galley-page*/
#Intro {
  border-width: 5px;
  border-style: ridge;
  width: 450px;
  border-color: green;
  text-align: center;
  border-radius: 10px;
}

#Starting {
  border-width: thick;
  border-style: double;
  width: 500px;
  border-color: purple;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
}

.img {
  margin: 25px;
  border: 1px solid red;
  float: left;
  width: 150px;
  height: 250px;
}
.img:hover {
  border: 1px solid green;
  width: 200px;
  height: 200px;
}

.img img {
  width: 100%;
  height: auto;
  -webkit-transform: rotate(90deg);
  display: flex;
  flex-wrap: wrap;
  align-content:center;
  transition: width 2s transform 1s;
}

.desc {
  padding: 5px;
  margin: 15px;
  heigth: 20px;
  text-align: center;
}

@media screen and (min-width: 320px) {
  div {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    width: 100%;
    margin: 1%;
    background-color: purple;
  }
}

@media screen and (min-width: 480px) {
  div {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    width: 100%;
    margin: 1%;
    background-color: lightyellow;
  }
}

@media screen and (min-width: 768px) {
  div {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    width: 100%;
    margin: 1%;
    background-color: lightgreen;
  }
}

