body {
  background-color: lightblue;
}

main {
  width: 100%;
}

#Intro {
  border-width: 5px;
  border-style: ridge;
  width: 450px;
  border-color: green;
  text-align: center;
  border-radius: 10px;
}

#Starting {
  border-width: thick;
  border-style: double;
  width: 500px;
  border-color: purple;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
}

.img {
  margin: 25px;
  border: 1px solid red;
  float: left;
  width: 150px;
  height: 250px;
}
.img:hover {
  border: 1px solid green;
}

.img img {
  width: 100%;
  height: auto;
  -webkit-transform: rotate(90deg);
  display: flex;
  flex-wrap: wrap;
  align-content:center;
  transition: width 2s transform 1s;
}

.desc {
  padding: 5px;
  margin: 15px;
  heigth: 20px;
  text-align: center;
}

@media screen and (min-width: 500px) {
  div {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    width: 100%;
    margin: 1%;
    background-color: lightyellow;
  }
}

@media screen and (min-width: 780px) {
  div {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    width: 100%;
    margin: 1%;
    background-color: lightgreen;
  }
}










